* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;

}

/*Header and navigation style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
   
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {

    color: #FFFFFF;
    font-family: 'Open Sans';
    border: 0px;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}
/* banner style */
.banner{
    display: flex;
    margin: 0 25px 0 200px;
    align-items:center;
  
}
.banner-title{
   font-weight: 700;
   font-size: 85;
   margin-bottom: 20px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45;
    margin-bottom: 5px;
}
.banner-description{
    color: #757575;
   font-size: 18px;
   margin-bottom: 30px;
}
/*main section  */
main{
    max-width:1140px ;
    margin: 0 auto;
}
/* about section style */
.about{
    text-align: center;
    margin-top: 130px;
    background:#FFF8F3 ;
    border-radius: 10px;
    padding: 130px 150px;

}
.section-title{
    
    
    text-align: center;
    margin: 50px ;
    font-size:35px ;
    font-weight: 700;

}
.blog{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin-bottom:50px;

       
}
.section-description{
      color: #757575;
      font-size: 18px;
      margin-bottom: 30px;
      
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/*  what i do */
.what-i-do{
    margin: 130px;
}
.slills-container{
    display: flex;
    gap: 24px;

}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
}
.skill-description{
    color: #757575;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
   
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin:30px 0 ;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom:10px ;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact style */
.contact{
    display: flex;
    gap: 100px;
    background-color:#FFF8F3 ;
    padding: 130px 200px ;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a {
    text-decoration: none;
   padding-right: 15px;
}
.section-titl2-2{
    text-align: center;
    margin: 50px ;
    font-size:35px ;
    font-weight: 700;
}
